.red-bg{
    background-color: #c6212b;
}
.red{
  color: #c6212b;
}
.bg-cream{
  background-color: #ecccb2;
}
.blue{
    color: #22317a;
}
.white{
  color: white;
}
.yellow{
  color: #ffeb41
}
.bg-white{
  background-color: white;
}
p,h4{
    text-indent: 30px;
}

.font-Sriracha{
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
}
.font-Kanit{
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.font-itim{
  font-family: "Mali", cursive;
  font-weight: 500;
  font-style: normal;
}

.round{
  border-radius: 50%;
}
.bg-01{
  background-image: linear-gradient(to bottom,#c6212b,#ecccb2);}

.bg-02{
  background-image: linear-gradient(to bottom,#ecccb2,white);
}

